@keyframes move-text {
  to {
    transform: translateX(-100%);
  }
}

@keyframes show-bottom-menu {
  from {
    opacity: 0;
    transform: translateY(200%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  to {
    transform: translate(-50%, -50%) scale(1.2);
  }
}
