@mixin font-face($font-family, $font-weight, $font-style, $font-src-woff2, $font-src-woff) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src-woff2, $font-src-woff;
  }
}

@mixin normilize-list {
  padding: 0;
  list-style: none;
}
