.about {
  max-width: 320px;
  padding: 10px;

  @media #{$tablet-only} {
    max-width: 768px;
    padding: 20px 10px;
  }

  @media #{$desktop-only} {
    max-width: 1920px;
    padding: 20px 10px 0;
  }
}

.about__wrap {
  display: grid;
  grid-template-areas:
    "lead-one image-one"
    "image-two image-two"
    "lead-two lead-two"
    "text text"
    "slider slider"
    "image-three image-three"
    "image-four image-five"
    "lead-three lead-three"
    "button button";
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  @media #{$tablet-only} {
    grid-template-areas:
      "lead-one lead-one image-one image-one image-two image-two"
      "slider slider slider lead-two lead-two lead-two"
      "slider slider slider text text text"
      "slider slider slider text text text"
      "image-three image-three image-three image-three image-three image-three"
      "image-four image-four image-five image-five lead-three lead-three"
      "image-four image-four image-five image-five button button";
    gap: 20px;
    grid-template-columns: repeat(6, 1fr);
  }

  @media #{$desktop-only} {
    grid-template-areas:
      "lead-one lead-one lead-one image-one image-one image-one image-two image-two image-two image-two image-two image-two"
      "slider slider slider slider slider slider lead-two lead-two lead-two lead-two lead-two lead-two"
      "slider slider slider slider slider slider text text text text text text"
      "slider slider slider slider slider slider text text text text text text"
      "image-three image-three image-three image-three image-four image-four image-four image-four image-five image-five image-five image-five"
      "image-three image-three image-three image-three image-four image-four image-four image-four image-five image-five image-five image-five"
      "image-three image-three image-three image-three lead-three lead-three lead-three lead-three lead-three button button button";
    gap: 20px;
    grid-template-columns: repeat(12, 1fr);
  }
}

.about__lead {
  align-self: self-end;
  margin: 5px 0;

  font-weight: 600;
  font-size: 16px;

  @media #{$tablet-only} {
    margin: 20px 0;

    font-size: 24px;
  }

  @media #{$desktop-only} {
    margin: 20px 0;

    font-size: 28px;
  }

  &.about__lead--one {
    grid-area: lead-one;
  }

  &.about__lead--two {
    grid-area: lead-two;
    margin: 10px 0 0;
  }

  &.about__lead--three {
    grid-area: lead-three;
    margin-top: 10px;

    @media #{$tablet-only} {
      margin: 0;
    }

    @media #{$desktop-only} {
      margin: 0;
    }
  }
}

.about__image-container {
  height: 145px;
  width: 100%;
  margin: 0;

  border-radius: 20px;

  overflow: hidden;

  &.about__image-container--one {
    grid-area: image-one;

    @media #{$tablet-only} {
      height: 220px;
    }

    @media #{$desktop-only} {
      height: 280px;
    }
  }

  &.about__image-container--two {
    grid-area: image-two;

    @media #{$tablet-only} {
      height: 220px;
    }

    @media #{$desktop-only} {
      height: 280px;
    }
  }

  &.about__image-container--three {
    grid-area: image-three;
    height: 200px;

    @media #{$tablet-only} {
      height: 346px;
    }

    @media #{$desktop-only} {
      height: 380px;
    }
  }

  &.about__image-container--four {
    grid-area: image-four;

    @media #{$tablet-only} {
      height: 220px;
    }

    @media #{$desktop-only} {
      height: 280px;
    }
  }

  &.about__image-container--five {
    grid-area: image-five;

    @media #{$tablet-only} {
      height: 220px;
    }

    @media #{$desktop-only} {
      height: 280px;
    }
  }

  @media #{$hover} {
    &:hover .about__image {
      transform: scale(1.1);
    }
  }
}

.about__image {
  height: 100%;
  width: 100%;

  object-fit: cover;

  transition: transform $tr-default;
}

.about__text-wrap {
  grid-area: text;
  margin: 0;
}

.about__text {
  height: 122px;
  overflow: hidden;

  @media #{$tablet-only} {
    height: 157px;
  }

  @media #{$desktop-only} {
    height: 172px;
  }
}

.about__paragraf {
  margin: 0 0 10px;
}

.about__more-button {
  margin-bottom: 10px;

  @media #{$tablet-only} {
    margin: 10px 0;
  }

  @media #{$desktop-only} {
    margin: 10px 0;
  }
}

.about__interier-slider {
  grid-area: slider;
}

.about__booking-button {
  grid-area: button;
  margin-top: 10px;

  @media #{$tablet-only} {
    align-self: end;
    margin: 0;
  }

  @media #{$desktop-only} {
    align-self: end;
    margin: 0;
  }
}
