.activity {
  max-width: 320px;
  padding: 20px 10px 10px;

  @media #{$tablet-only} {
    max-width: 768px;
  }

  @media #{$desktop-only} {
    max-width: 1200px;
    padding-bottom: 0;
  }

  @media #{$large-desktop-only} {
    max-width: 1920px;
  }
}

.activity__button-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  @media #{$tablet-only} {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  @media #{$desktop-only} {
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;

    .activity__button {
      font-size: 20px;
    }
  }

  @media #{$large-desktop-only} {
    margin-top: 50px;

    .activity__button {
      font-size: 32px;
    }
  }
}

.activity__button {
  &.button--more {
    margin: 20px auto 0;
  }
}

.activity__notification {
  display: inline-block;
  grid-column: 1 / -1;
  margin-bottom: 20px;

  text-align: center;
  font-size: 10px;

  opacity: 0.5;

  @media #{$tablet-only} {
    text-align: left;
    font-size: 12px;

    margin: -5px 0 30px;
  }

  @media #{$desktop-only} {
    text-align: left;
    font-size: 16px;

    margin: -15px 0 30px;
  }

  @media #{$large-desktop-only} {
    font-size: 25px;
  }
}

.activity__list {
  @include normalize-list;

  flex-direction: column;
  gap: 10px;
  max-height: 620px;
  margin: 0;

  overflow: hidden;

  transition: height $tr-default, max-height $tr-default;

  @media #{$tablet-only} {
    grid-template-columns: repeat(2, 1fr);
    align-content: start;
    gap: 20px;
    max-height: 540px;
  }

  @media #{$desktop-only} {
    grid-template-columns: repeat(3, 1fr);
    align-content: start;
    gap: 20px;
    max-height: 580px;

    .activity__button {
      font-size: 16px;
    }
  }

  @media #{$large-desktop-only} {
    max-height: 920px;

    .activity__button {
      font-size: 25px;
    }
  }

  &.activity__list--tab {
    display: none;
  }

  &.activity__list--is-active {
    display: flex;

    @media #{$tablet-only} {
      display: grid;
    }

    @media #{$desktop-only} {
      display: grid;
    }
  }
}

.activity__item {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 200px;
  height: 200px;
  padding: 10px;

  border-radius: 20px;

  overflow: hidden;

  @media #{$tablet-only} {
    height: 260px;
    padding: 20px;
  }

  @media #{$desktop-only} {
    height: 280px;
    padding: 20px;
  }

  @media #{$large-desktop-only} {
    height: 450px;
    padding: 20px;
  }

  .activity__button-wrap {
    margin-top: auto;

    @media #{$tablet-only} {
      grid-template-columns: repeat(2, 1fr);
    }

    @media #{$desktop-only} {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.activity__title {
  max-width: calc(100% - 46px);
  margin: 0;

  font-family: $secondary-font;
  font-weight: 700;
  font-size: 16px;
  color: $color-white;

  @media #{$tablet-only} {
    max-width: calc(100% - 56px);

    font-size: 28px;
  }

  @media #{$desktop-only} {
    max-width: calc(100% - 56px);

    font-size: 28px;
  }

  @media #{$large-desktop-only} {
    max-width: calc(100% - 114px);

    font-size: 45px;
  }
}

.activity__icon-wrap {
  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  padding: 4px;

  background-color: $color-white;
  border-radius: 12px;

  @media #{$tablet-only} {
    top: 20px;
    right: 20px;

    width: 46px;
    height: 46px;
    padding: 5px;
  }

  @media #{$desktop-only} {
    top: 20px;
    right: 20px;

    width: 46px;
    height: 46px;
    padding: 5px;

    border-radius: 15px;
  }

  @media #{$large-desktop-only} {
    width: 74px;
    height: 74px;
    padding: 10px;

    border-radius: 25px;
  }
}

.activity__icon {
  width: 100%;
  height: 100%;
}

.activity__background {
  position: absolute;
  inset: 0;
  z-index: -1;

  transition: transform $tr-default;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;

    display: block;

    background: rgba($color-black, 0.2);
  }

  &.activity__background--scale-on-hover {
    .activity__background-image {
      transform: scale(1.1);
    }
  }
}

.activity__background-image {
  height: 100%;

  object-fit: cover;

  transition: transform $tr-default;
}
