.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 10px 20px;

  font-family: inherit;
  font-weight: 600;
  line-height: inherit;
  font-size: inherit;
  color: inherit;

  background: none;

  border: 0;
  border-radius: 14px;

  cursor: pointer;

  @media #{$tablet-only} {
    border-radius: 16px;
  }

  &.button--booking {
    height: 46px;

    font-size: 16px;
  }

  &.button--booking.button--houses {
    padding: 10px;
    height: 36px;

    font-size: 12px;

    @media #{$tablet-only} {
      height: 46px;

      font-size: 16px;
    }
  }

  &.button--menu {
    width: 77px;
    height: 36px;
    padding: 10px;

    @media #{$tablet-only} {
      width: 89px;
      height: 46px;
    }
  }

  &.button--slides {
    height: 46px;

    font-size: 16px;

    @media #{$tablet-only} {
      width: 200px;
    }
  }

  &.button--cards {
    @media #{$tablet-only} {
      height: 46px;
    }
  }

  &.button--more {
    padding: 0;

    font-weight: 500;
    font-size: 12px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 1px;
    color: $color-black;

    border: 0;

    opacity: 0.8;

    transition: opacity $tr-default, text-underline-offset $tr-default;

    @media #{$tablet-only} {
      font-size: 16px;
      text-underline-offset: 2px;
    }

    @media #{$hover} {
      &:hover {
        text-underline-offset: 4px;

        opacity: 1;

        @media #{$tablet-only} {
          text-underline-offset: 6px;
        }
      }
    }

    &:active {
      text-underline-offset: 1px;

      opacity: 0.5;

      @media #{$tablet-only} {
        text-underline-offset: 2px;
      }
    }
  }

  &.button--slider-interier {
    width: 36px;
    height: 36px;
    padding: 10px;

    border: 0;
    border-radius: 12px;

    @media #{$tablet-only} {
      width: 46px;
      height: 46px;

      border-radius: 16px;
    }

    .button__icon {
      width: 10px;
      height: 10px;

      /* stylelint-disable max-nesting-depth */
      @media #{$tablet-only} {
        width: 15px;
        height: 15px;
      }
      /* stylelint-enable max-nesting-depth */
    }
  }

  // &.button--houses {

  // }

  &.button--activity {
    height: 36px;

    @media #{$tablet-only} {
      height: 46px;
      padding: 10px;
    }
  }

  // &.button--service {

  // }

  // &.button--excursions {

  // }

  // &.button--map {

  // }

  &.button--next {
    transform: scaleX(-1);
  }

  &.button--with-border {
    border: 1px solid $color-gray;
  }

  &.button--white-brown {
    color: $color-black;

    background-color: $color-brown;

    box-shadow: inset 0 46px 0 0 $color-white;

    transition: box-shadow $tr-default, color $tr-default, width $tr-default, right $tr-default 0.3s, top $tr-default;

    @media #{$hover} {
      &:hover {
        color: $color-white;

        box-shadow: inset 0 8px 0 0 $color-white;
      }
    }

    &:active {
      color: $color-white;

      box-shadow: inset 0 0 0 0 $color-white;
    }

    &.button--with-border-on-hover {
      box-shadow: inset 0 0 0 1px $color-gray, inset 0 46px 0 0 $color-white;

      @media #{$hover} {
        &:hover {
          box-shadow: inset 0 0 0 1px $color-gray, inset 0 8px 0 0 $color-white;
        }
      }

      &:active {
        box-shadow: inset 0 0 0 1px $color-gray, inset 0 0 0 0 $color-white;
      }
    }
  }

  &.button--brown-white {
    color: $color-white;

    background-color: $color-white;

    box-shadow: inset 0 46px 0 0 $color-brown;

    transition: box-shadow $tr-default, color $tr-default, width $tr-default, right $tr-default 0.3s, top $tr-default;

    @media #{$hover} {
      &:hover {
        color: $color-black;

        box-shadow: inset 0 8px 0 0 $color-brown;
      }
    }

    &:active {
      color: $color-black;

      box-shadow: inset 0 0 0 0 $color-brown;
    }

    &.button--with-border-on-hover {
      box-shadow: inset 0 0 0 0 $color-gray, inset 0 46px 0 0 $color-brown;

      @media #{$hover} {
        &:hover {
          box-shadow: inset 0 0 0 1px $color-gray, inset 0 8px 0 0 $color-brown;
        }
      }

      &:active {
        box-shadow: inset 0 0 0 1px $color-gray, inset 0 0 0 0 $color-brown;
      }
    }
  }

  &.button--green-white {
    color: $color-white;

    background-color: $color-white;

    box-shadow: inset 0 46px 0 0 $color-green;

    transition: box-shadow $tr-default, color $tr-default, width $tr-default, right $tr-default 0.3s, top $tr-default;

    @media #{$hover} {
      &:hover {
        color: $color-black;

        box-shadow: inset 0 8px 0 0 $color-green;
      }
    }

    &:active {
      color: $color-black;

      box-shadow: inset 0 0 0 0 $color-green;
    }

    &.button--with-border-on-hover {
      box-shadow: inset 0 0 0 0 $color-gray, inset 0 46px 0 0 $color-green;

      @media #{$hover} {
        &:hover {
          box-shadow: inset 0 0 0 1px $color-gray, inset 0 8px 0 0 $color-green;
        }
      }

      &:active {
        box-shadow: inset 0 0 0 1px $color-gray, inset 0 0 0 0 $color-green;
      }
    }
  }

  &.button--white-green {
    color: $color-black;

    background-color: $color-green;

    box-shadow: inset 0 46px 0 0 $color-white;

    transition: box-shadow $tr-default, color $tr-default, width $tr-default, right $tr-default 0.3s, top $tr-default;

    @media #{$hover} {
      &:hover {
        color: $color-white;

        box-shadow: inset 0 8px 0 0 $color-white;

        path {
          fill: $color-white;
        }
      }
    }

    &:active {
      color: $color-white;

      box-shadow: inset 0 0 0 0 $color-white;

      path {
        fill: $color-white;
      }
    }

    &.button--with-border-on-hover {
      box-shadow: inset 0 0 0 1px $color-gray, inset 0 46px 0 0 $color-white;

      @media #{$hover} {
        &:hover {
          box-shadow: inset 0 0 0 1px $color-gray, inset 0 8px 0 0 $color-white;
        }
      }

      &:active {
        box-shadow: inset 0 0 0 1px $color-gray, inset 0 0 0 0 $color-white;
      }
    }
  }

  &.button--blue-white {
    color: $color-white;

    background-color: $color-white;

    box-shadow: inset 0 46px 0 0 $color-blue;

    transition: box-shadow $tr-default, color $tr-default, width $tr-default, right $tr-default 0.3s, top $tr-default;

    @media #{$hover} {
      &:hover {
        color: $color-black;

        box-shadow: inset 0 8px 0 0 $color-blue;
      }
    }

    &:active {
      color: $color-black;

      box-shadow: inset 0 0 0 0 $color-blue;
    }

    &.button--with-border-on-hover {
      box-shadow: inset 0 0 0 0 $color-gray, inset 0 46px 0 0 $color-blue;

      @media #{$hover} {
        &:hover {
          box-shadow: inset 0 0 0 1px $color-gray, inset 0 8px 0 0 $color-blue;
        }
      }

      &:active {
        box-shadow: inset 0 0 0 1px $color-gray, inset 0 0 0 0 $color-blue;
      }
    }
  }

  &.button--mint-white {
    color: $color-white;

    background-color: $color-white;

    box-shadow: inset 0 46px 0 0 $color-mint;

    transition: box-shadow $tr-default, color $tr-default, width $tr-default, right $tr-default 0.3s, top $tr-default;

    @media #{$hover} {
      &:hover {
        color: $color-black;

        box-shadow: inset 0 8px 0 0 $color-mint;
      }
    }

    &:active {
      color: $color-black;

      box-shadow: inset 0 0 0 0 $color-mint;
    }

    &.button--with-border-on-hover {
      box-shadow: inset 0 0 0 0 $color-gray, inset 0 46px 0 0 $color-mint;

      @media #{$hover} {
        &:hover {
          box-shadow: inset 0 0 0 1px $color-gray, inset 0 8px 0 0 $color-mint;
        }
      }

      &:active {
        box-shadow: inset 0 0 0 1px $color-gray, inset 0 0 0 0 $color-mint;
      }
    }
  }
}

// .button__text {

// }

.button__icon {
  path {
    transition: fill $tr-default;
  }
}
