.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 10px 20px;

  font-family: inherit;
  font-weight: 600;
  line-height: inherit;
  font-size: inherit;
  color: inherit;

  background: none;

  border: 0;
  border-radius: 14px;

  cursor: pointer;

  &.button--booking {
    height: 46px;

    font-size: 16px;
  }

  &.button--booking.button--houses {
    padding: 10px;
    height: 36px;

    font-size: 12px;
  }

  // &.button--menu {

  // }

  &.button--slides {
    height: 46px;

    font-size: 16px;
  }

  &.button--more {
    padding: 0;

    font-weight: 500;
    font-size: 12px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: $color-black;

    border: 0;

    opacity: 0.8;
  }

  &.button--slider-interier {
    width: 36px;
    height: 36px;
    padding: 10px;

    border: 0;
    border-radius: 12px;

    .button__icon {
      width: 10px;
      height: 10px;
    }
  }

  // &.button--houses {

  // }

  &.button--activity {
    height: 36px;
  }

  // &.button--service {

  // }

  // &.button--excursions {

  // }

  // &.button--map {

  // }

  &.button--next {
    transform: rotate(180deg);
  }

  &.button--with-border {
    border: 1px solid rgba($color-black, 0.5);
  }

  &.button--white {
    color: $color-black;

    background-color: $color-white;
  }

  &.button--green {
    color: $color-white;

    background-color: $color-green;
  }

  &.button--blue {
    color: $color-white;

    background-color: $color-blue;
  }

  &.button--brown {
    color: $color-white;

    background-color: $color-brown;
  }

  &.button--mint {
    color: $color-white;

    background-color: $color-mint;
  }
}

// .button__text {

// }
