.cards {
  @include normalize-list;

  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin: 0 auto;

  &.cards--slider {
    .cards__link {
      @media #{$hover} {
        &:hover {
          /* stylelint-disable max-nesting-depth */
          .cards__background-image {
            transform: scale(1.1);
          }

          .cards__link-text {
            text-underline-offset: 5px;
          }
          /* stylelint-enable max-nesting-depth */
        }

        &:active {
          /* stylelint-disable max-nesting-depth */
          .cards__background-image {
            transform: scale(1.1);
          }

          .cards__link-text {
            text-underline-offset: unset;
          }
          /* stylelint-enable max-nesting-depth */
        }
      }
    }

    @media #{$tablet-only} {
      gap: 20px;

      /* stylelint-disable max-nesting-depth */
      .cards__item {
        display: flex;
        flex-direction: column;
        min-height: 320px;
        padding: 0;
      }

      .cards__link {
        padding: 20px;
      }

      .cards__link-text {
        font-size: 16px;
        font-weight: 500;
      }

      .cards__icon-wrap {
        width: 46px;
        height: 46px;
        padding: 0;
      }
      /* stylelint-enable max-nesting-depth */
    }

    @media #{$desktop-only} {
      flex-direction: row;
      gap: 20px;

      /* stylelint-disable max-nesting-depth */
      .cards__item {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 300px;
        padding: 0;
      }

      .cards__link {
        padding: 20px;
      }

      .cards__link-text {
        font-size: 16px;
        font-weight: 500;
      }

      .cards__icon-wrap {
        width: 46px;
        height: 46px;
        padding: 0;
      }
      /* stylelint-enable max-nesting-depth */
    }

    @media #{$large-desktop-only} {
      /* stylelint-disable max-nesting-depth */
      .cards__item {
        min-height: 490px;

        border-radius: 40px;
      }

      .cards__title {
        font-size: 45px;
      }

      .cards__address {
        font-size: 25px;
      }

      .cards__link-text {
        font-size: 25px;
      }

      .cards__icon-wrap {
        width: 74px;
        height: 74px;
      }
      /* stylelint-enable max-nesting-depth */
    }
  }

  &.cards--location {
    @media #{$tablet-only} {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      min-height: 380px;
    }

    @media #{$desktop-only} {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      min-height: 380px;
    }

    @media #{$large-desktop-only} {
      min-height: 620px;
    }

    .cards__item {
      display: flex;
      flex-direction: column;
      min-height: 200px;
    }

    .cards__title {
      font-size: 16px;
      color: $color-white;

      /* stylelint-disable max-nesting-depth */
      @media #{$tablet-only} {
        font-size: 28px;
      }

      @media #{$desktop-only} {
        font-size: 28px;
      }

      @media #{$large-desktop-only} {
        font-size: 45px;
      }
      /* stylelint-enable max-nesting-depth */
    }

    .cards__address {
      font-weight: 500;
      font-size: 12px;
      color: $color-white;

      /* stylelint-disable max-nesting-depth */
      @media #{$tablet-only} {
        font-size: 16px;
      }

      @media #{$desktop-only} {
        font-size: 20px;
      }

      @media #{$large-desktop-only} {
        font-size: 32px;
      }
      /* stylelint-enable max-nesting-depth */
    }

    .cards__button {
      margin-top: auto;
      margin-left: auto;
      width: fit-content;

      border: 0;
    }

    .cards__icon-wrap {
      width: 36px;
      height: 36px;

      background-color: $color-white;
      border-radius: 12px;

      /* stylelint-disable max-nesting-depth */
      @media #{$tablet-only} {
        width: 46px;
        height: 46px;
        padding: 5px;
      }

      @media #{$desktop-only} {
        width: 46px;
        height: 46px;
        padding: 5px;
      }

      @media #{$large-desktop-only} {
        width: 74px;
        height: 74px;
        padding: 8px;

        border-radius: 19px;
      }
      /* stylelint-enable max-nesting-depth */
    }
  }
}

.cards__item {
  position: relative;

  min-height: 144px;
  padding: 10px;

  border: 1px solid rgba($color-white, 0.5);
  border-radius: 20px;

  overflow: hidden;

  @media #{$tablet-only} {
    padding: 20px;

    border-radius: 25px;
  }

  @media #{$desktop-only} {
    padding: 20px;

    border-radius: 25px;
  }
}

.cards__link {
  display: flex;
  flex-direction: column;
  height: 100%;

  color: $color-white;
}

.cards__title {
  max-width: 210px;
  margin: 0;

  font-family: $secondary-font;
  font-weight: 700;
  font-size: 16px;

  @media #{$tablet-only} {
    font-size: 28px;
  }

  @media #{$desktop-only} {
    max-width: 310px;

    font-size: 28px;
  }

  @media #{$large-desktop-only} {
    max-width: 800px;
  }
}

.cards__address {
  max-width: 210px;
  margin: 0;

  font-weight: 500;
  font-style: normal;
  font-size: 12px;

  @media #{$tablet-only} {
    font-size: 16px;
  }

  @media #{$desktop-only} {
    max-width: 310px;

    font-size: 20px;
  }

  @media #{$large-desktop-only} {
    max-width: 800px;
  }
}

.cards__link-text {
  display: inline-block;
  margin: auto 0 0;

  font-weight: 600;
  font-size: 12px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 1px;

  transition: text-underline-offset $tr-default;
}

.cards__icon-wrap {
  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  padding: 5px;
  margin: 0;

  @media #{$tablet-only} {
    top: 20px;
    right: 20px;
  }

  @media #{$desktop-only} {
    top: 20px;
    right: 20px;
  }
}

.cards__icon {
  width: 100%;
  height: 100%;

  &.cards__icon--green path {
    fill: $color-green;
  }

  &.cards__icon--blue path {
    fill: $color-blue;
  }
}

.cards__background {
  position: absolute;
  inset: 0;
  z-index: -1;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;

    display: block;

    background: rgba($color-black, 0.2);
  }

  &.cards__background--scale-on-hover {
    .cards__background-image {
      transform: scale(1.1);
    }
  }
}

.cards__background-image {
  width: 100%;
  height: 100%;

  object-fit: cover;

  transition: transform $tr-default;
}

// .cards__button {

// }
