.footer {
  max-width: 300px;
  margin: 0 auto 20px;
  padding: 10px;

  border: 1px solid $color-gray;
  border-radius: 20px;

  overflow: hidden;

  @media #{$tablet-only} {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 748px;
    width: 748px;
    padding: 20px;

    border-radius: 25px;
  }

  @media #{$desktop-only} {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    max-width: 1180px;
    width: 1180px;
    padding: 20px;

    border-radius: 25px;
  }

  @media #{$large-desktop-only} {
    max-width: 1900px;
    width: 1900px;

    border-radius: 40px;
  }
}

.footer__column {
  @media #{$tablet-only} {
    display: flex;
    flex-direction: column;
    grid-row: span 2;

    &.legal-info {
      grid-column: 1 / -1;
    }
  }

  @media #{$desktop-only} {
    display: flex;
    flex-direction: column;
    grid-row: span 3;

    &.legal-info {
      grid-column: 1 / -1;
    }
  }

  &.footer__column--accordion {
    overflow: hidden;

    transition: height $tr-default;

    /* stylelint-disable max-nesting-depth */
    @media #{$mobile-only} {
      &.footer__column--contacts {
        .footer__column-title {
          cursor: pointer;

          @media #{$hover} {
            &:hover {
              color: $color-brown;

              &::after {
                background-color: $color-brown;

                transform: rotate(-180deg) translateX(0);
              }
            }
          }

          &:active {
            color: $color-brown;

            &::after {
              background-color: $color-brown;

              transform: rotate(-180deg) translateX(0);
            }
          }
        }
      }

      &.footer__column--navigation {
        .footer__column-title {
          cursor: pointer;

          @media #{$hover} {
            &:hover {
              color: $color-green;

              &::after {
                background-color: $color-green;

                transform: rotate(-180deg) translateX(0);
              }
            }
          }

          &:active {
            color: $color-green;

            &::after {
              background-color: $color-green;

              transform: rotate(-180deg) translateX(0);
            }
          }
        }
      }

      &.footer__column--important {
        .footer__column-title {
          cursor: pointer;

          @media #{$hover} {
            &:hover {
              color: $color-blue;

              &::after {
                background-color: $color-blue;

                transform: rotate(-180deg) translateX(0);
              }
            }
          }

          &:active {
            color: $color-blue;

            &::after {
              background-color: $color-blue;

              transform: rotate(-180deg) translateX(0);
            }
          }
        }
      }
    }
    /* stylelint-enable max-nesting-depth */
  }

  @media #{$mobile-only} {
    &.footer__column--active {
      /* stylelint-disable max-nesting-depth */
      &.footer__column--contacts {
        .footer__column-title {
          color: $color-brown;

          pointer-events: none;

          &::after {
            background-color: $color-brown;

            transform: rotate(-90deg) translateX(0);
          }
        }
      }

      &.footer__column--navigation {
        .footer__column-title {
          color: $color-green;

          pointer-events: none;

          &::after {
            background-color: $color-green;

            transform: rotate(-90deg) translateX(0);
          }
        }
      }

      &.footer__column--important {
        .footer__column-title {
          color: $color-blue;

          pointer-events: none;

          &::after {
            background-color: $color-blue;

            transform: rotate(-90deg) translateX(0);
          }
        }
      }
    }
  }
  /* stylelint-enable max-nesting-depth */

  &.footer__column--contacts {
    @media #{$desktop-only} {
      display: grid;
      grid-template-columns: repeat(2, auto);
      column-gap: 10px;
      grid-row: span 2;
      grid-column: span 2;
      align-content: start;
    }

    a.footer__group-link {
      @media #{$hover} {
        &:hover {
          color: $color-brown;
        }
      }

      &:active {
        color: $color-brown;

        opacity: 0.5;
      }
    }
  }

  &.footer__column--navigation {
    @media #{$tablet-only} {
      display: grid;
      grid-template-columns: repeat(2, auto);
      column-gap: 10px;
      grid-row: span 1;
    }

    @media #{$desktop-only} {
      display: grid;
      grid-template-columns: repeat(2, auto);
      column-gap: 10px;
      grid-row: span 2;
      align-content: start;
    }

    a.footer__group-link {
      @media #{$hover} {
        &:hover {
          color: $color-green;
        }
      }

      &:active {
        color: $color-green;

        opacity: 0.5;
      }
      /* stylelint-disable max-nesting-depth */
      &.footer__group-link--current {
        color: $color-green;

        pointer-events: none;
      }
      /* stylelint-enable max-nesting-depth */
    }
  }

  &.footer__column--important {
    @media #{$tablet-only} {
      grid-row: span 1;
    }

    @media #{$desktop-only} {
      grid-row: span 2;
      align-content: start;
    }

    a.footer__group-link {
      @media #{$hover} {
        &:hover {
          color: $color-blue;
        }
      }

      &:active {
        color: $color-blue;

        opacity: 0.5;
      }
    }
  }
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;

  .footer__column-group {
    margin: 0;
  }

  @media #{$tablet-only} {
    grid-column: 1 / -1;
  }

  @media #{$desktop-only} {
    grid-column: span 2 / -1;
    justify-self: end;
  }
}

.footer__logo {
  margin-bottom: 4px;
}

.footer__notification {
  display: inline-block;
  margin: 0 0 20px;
  opacity: 0.5;

  @media #{$desktop-only} {
    font-size: 16px;
  }

  @media #{$large-desktop-only} {
    font-size: 25px;
  }
}

.footer__booking-button {
  margin-bottom: 20px;

  @media #{$tablet-only} {
    margin: auto 0 0;
  }

  @media #{$desktop-only} {
    margin: auto 0 0;
  }
}

.footer__column-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;

  font-family: $secondary-font;
  font-weight: 700;
  font-size: 24px;

  transition: color $tr-default;

  @media #{$mobile-only} {
    &::after {
      content: "";

      display: block;
      width: 15px;
      height: 15px;

      background-color: $color-black;

      mask-image: url("../../images/arrow-slider.svg");

      transform: rotate(-180deg) translateX(5px);

      transition: background-color $tr-default, transform $tr-default;
    }
  }

  @media #{$tablet-only} {
    grid-column: 1 / -1;
    margin-bottom: 5px;

    font-size: 28px;
  }

  @media #{$desktop-only} {
    grid-column: 1 / -1;
    margin-bottom: 5px;

    font-size: 28px;
  }

  @media #{$large-desktop-only} {
    font-size: 45px;
  }
}

.footer__column-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;

  @media #{$tablet-only} {
    margin: 5px 0;
  }

  @media #{$desktop-only} {
    margin: 5px 0;
  }
}

.footer__group-subtitle {
  display: inline-block;
  margin-bottom: 3px;

  font-weight: 500;
  font-size: 12px;

  opacity: 0.5;

  @media #{$tablet-only} {
    margin-bottom: 0;
  }

  @media #{$desktop-only} {
    margin-bottom: 0;
  }

  @media #{$large-desktop-only} {
    margin-bottom: 5px;

    font-size: 20px;
  }
}

.footer__group-link {
  width: fit-content;

  font-weight: 600;
  font-size: 16px;
  color: inherit;

  transition: color $tr-default, opacity $tr-default;

  @media #{$large-desktop-only} {
    font-size: 25px;
  }

  &.footer__group-link--developer {
    position: relative;

    display: flex;

    @media #{$large-desktop-only} {
      width: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      inset: auto 0 0;

      display: block;
      height: 1px;

      background-color: $color-black;

      opacity: 0;

      transition: inset $tr-default, opacity $tr-default;
    }

    @media #{$hover} {
      &:hover {
        &::after {
          inset: auto 0 -5px;

          opacity: 1;
        }
      }
    }

    &:active {
      opacity: 0.5;

      &::after {
        inset: auto 0 -5px;

        opacity: 1;
      }
    }
  }
}

.footer__social {
  margin: 0;

  @media #{$desktop-only} {
    margin-right: 40px;
  }

  @media #{$large-desktop-only} {
    margin-right: 60px;
  }
}

.footer__icon-wrap {
  display: flex;
  width: 100%;
  height: auto;
}

.footer__icon {
  width: 100%;
}

.footer__line {
  margin: 20px -10px 10px;

  @media #{$tablet-only} {
    grid-column: 1 / -1;
    margin: 0 -20px;
  }

  @media #{$desktop-only} {
    grid-column: 1 / -1;
    margin: 0 -20px;
  }
}
