.header {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;

  @media #{$tablet-only} {
    max-width: 768px;
  }

  @media #{$desktop-only} {
    max-width: 1200px;
  }

  @media #{$large-desktop-only} {
    max-width: 1920px;
  }

  &.header--nav-is-open {
    @media #{$mobile-only} {
      .header__logo {
        left: 10px;
        top: 10px;

        transition: opacity $tr-default, left $tr-default, top $tr-default 0.3s;
      }
    }

    @media #{$tablet-only} {
      .header__booking-button {
        right: 20px;
        top: 20px;

        transition: box-shadow $tr-default, color $tr-default, width $tr-default, right $tr-default, top $tr-default 0.3s;
      }
    }

    @media #{$desktop-only} {
      .header__booking-button {
        right: 0;
        top: 10px;

        transition: box-shadow $tr-default, color $tr-default, width $tr-default, right $tr-default, top $tr-default 0.3s;
      }
    }

    .header__menu-button {
      right: 10px;
      top: 10px;

      transition: box-shadow $tr-default, color $tr-default, width $tr-default, right $tr-default, top $tr-default 0.3s;

      /* stylelint-disable max-nesting-depth */
      @media #{$tablet-only} {
        right: 20px;
        top: 20px;
      }

      @media #{$desktop-only} {
        right: 0;
        top: 10px;
      }
      /* stylelint-enable max-nesting-depth */
    }
  }

  &.header--fix-bottom {
    position: fixed;
    inset: auto 0 20px;
    z-index: 999999;

    transition: opacity $tr-default, visibility $tr-default, transform $tr-default;

    .header__wrap {
      max-width: 300px;
      width: 300px;
      height: 56px;

      background-color: $color-white;

      border: 0;
      border-radius: 20px;

      box-shadow: inset 0 0 0 1px $color-gray;

      animation: show-bottom-menu 0.6s ease-out 0s 1 normal both;

      /* stylelint-disable max-nesting-depth */
      &::before {
        content: "";
        position: absolute;
        inset: auto 1px 1px;
        z-index: 1000;

        display: block;
        width: 298px;
        height: 54px;

        background-color: $color-white;

        border-radius: 20px;
      }
      /* stylelint-enable max-nesting-depth */
    }

    .header__logo {
      display: none;
    }

    .header__booking-button {
      display: flex;
      height: 36px;
      width: 100%;
      margin-right: 10px;

      font-size: 12px;

      border-radius: 14px;
    }

    .header__menu-button {
      left: 0;
      top: 0;

      min-width: 70px;
    }

    &.header--nav-is-open {
      /* stylelint-disable max-nesting-depth */
      .header__menu-button {
        left: 0;
        top: 0;
      }
      /* stylelint-enable max-nesting-depth */
    }

    @media #{$tablet-only} {
      .header__wrap {
        max-width: 556px;
        width: 556px;
        height: 66px;
        padding: 10px 20px;

        border-radius: 25px;

        /* stylelint-disable max-nesting-depth */
        &::before {
          width: 554px;
          height: 64px;

          border-radius: 25px;
        }
        /* stylelint-enable max-nesting-depth */
      }

      .header__logo {
        display: flex;
        height: 46px;
        width: fit-content;
        margin-right: 20px;

        /* stylelint-disable max-nesting-depth */
        .logo__wrap.logo__wrap--text {
          display: none;
        }
        /* stylelint-enable max-nesting-depth */
      }

      .header__booking-button {
        left: 0;
        top: 0;

        height: 46px;
        width: auto;
        flex-grow: 1;
        margin-right: 20px;

        font-size: 16px;

        border-radius: 16px;
      }

      &.header--nav-is-open {
        /* stylelint-disable max-nesting-depth */
        .header__booking-button {
          left: 0;
          top: 0;
        }
        /* stylelint-enable max-nesting-depth */
      }
    }

    @media #{$desktop-only} {
      .header__wrap {
        max-width: 980px;
        width: 980px;
        height: 66px;
        padding: 10px;

        border-radius: 20px;

        /* stylelint-disable max-nesting-depth */
        &::before {
          width: 978px;
          height: 64px;

          border-radius: 20px;
        }
        /* stylelint-enable max-nesting-depth */
      }

      .header__logo {
        position: relative;
        top: 0;
        left: 0;

        display: flex;
        height: 46px;
        width: fit-content;
        margin-right: 20px;
        order: -1;

        transform: none;

        transition: opacity $tr-default, left $tr-default 0.3s;

        /* stylelint-disable max-nesting-depth */
        .logo__wrap.logo__wrap--text {
          display: none;
        }
        /* stylelint-enable max-nesting-depth */
      }

      .header__breadcrumbs {
        position: relative;
        left: 0;
        top: 0;
        z-index: 1000;

        flex-grow: 1;

        transition: left $tr-default 0.3s;
      }

      .header__booking-button {
        left: 0;
        top: 0;

        height: 46px;
        width: 228px;
        margin-right: 20px;

        font-size: 20px;

        border-radius: 16px;

        transition: box-shadow $tr-default, color $tr-default, left $tr-default 0.3s;
      }

      .header__menu-button {
        left: 0;
        top: 0;

        transition: box-shadow $tr-default, color $tr-default, left $tr-default 0.3s;
      }

      &.header--nav-is-open {
        /* stylelint-disable max-nesting-depth */
        .header__logo {
          left: 10px;
          top: 0;

          transition: opacity $tr-default, left $tr-default;
        }

        .header__breadcrumbs {
          left: 10px;

          transition: left $tr-default;
        }

        .header__booking-button {
          left: -10px;
          top: 0;

          transition: box-shadow $tr-default, color $tr-default, left $tr-default;
        }

        .header__menu-button {
          left: -10px;
          top: 0;

          transition: box-shadow $tr-default, color $tr-default, left $tr-default;
        }
        /* stylelint-enable max-nesting-depth */
      }
    }

    @media #{$large-desktop-only} {
      .header__wrap {
        max-width: 1560px;
        width: 1560px;
        height: 114px;
        padding: 20px;

        border-radius: 40px;

        box-shadow: inset 0 0 0 2px $color-gray;

        /* stylelint-disable max-nesting-depth */
        &::before {
          inset: auto 2px 2px;

          width: 1556px;
          height: 110px;

          border-radius: 40px;
        }
        /* stylelint-enable max-nesting-depth */
      }

      .header__logo {
        height: 74px;
      }

      .header__booking-button {
        height: 74px;
        width: 364px;
        margin-right: 20px;

        font-size: 32px;

        border-radius: 25px;
      }
    }
  }
}

.header__wrap {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: $breakpoint-mobile;
  margin: 0 auto;
  padding: 10px;

  @media #{$tablet-only} {
    max-width: $breakpoint-tablet;
    padding: 20px 10px;
  }

  @media #{$desktop-only} {
    max-width: 1160px;
    padding: 20px 10px;
  }

  @media #{$large-desktop-only} {
    max-width: 1860px;
    padding: 20px 10px;
  }
}

.header__breadcrumbs {
  margin: 0 20px 0 0;
}

.header__logo {
  position: relative;
  left: 0;
  top: 0;
  z-index: 9999999;

  @media #{$tablet-only} {
    position: static;
  }

  @media #{$desktop-only} {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
  }
}

.header__booking-button {
  position: relative;
  right: 0;
  top: 0;
  z-index: 9999999;

  display: none;
  margin: 0 20px 0 auto;
  width: 206px;

  @media #{$tablet-only} {
    display: flex;
  }

  @media #{$desktop-only} {
    display: flex;
    width: 228px;
  }

  @media #{$large-desktop-only} {
    width: 380px;
  }
}

.header__menu-button {
  position: relative;
  right: 0;
  top: 0;
  z-index: 9999999;
}

// .header__site-navigation {

// }
