.header {
  &.header--nav-is-open {
    .header__logo {
      left: 10px;
      top: 10px;

      transition: opacity $tr-default, left $tr-default, top $tr-default 0.3s;
    }

    .header__menu-button {
      right: 10px;
      top: 10px;

      transition: box-shadow $tr-default, color $tr-default, width $tr-default, right $tr-default, top $tr-default 0.3s;
    }
  }
}

.header__wrap {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: $breakpoint-mobile;
  margin: 0 auto;
  padding: 10px;
}

.header__logo {
  position: relative;
  left: 0;
  top: 0;
  z-index: 9999999;
}

.header__booking-button {
  display: none;
}

.header__menu-button {
  position: relative;
  right: 0;
  top: 0;
  z-index: 9999999;
}

// .header__site-navigetion {

// }
