// .hero-slider {

// }

.hero-slider__container {
  max-width: 300px;
  height: 500px;
  margin: 0 auto;

  border-radius: 20px;

  overflow: hidden;

  @media #{$tablet-only} {
    max-width: 748px;
    height: 978px;

    border-radius: 25px;
  }
}

// .hero-slider__wrap {

// }

// .hero-slider__slide {

// }

// .hero-slider__pagination {

// }
