.hero-slider {
  max-width: 320px;

  @media #{$tablet-only} {
    max-width: 768px;
  }

  @media #{$desktop-only} {
    max-width: 1200px;
  }

  @media #{$large-desktop-only} {
    max-width: 1920px;
    margin-bottom: 20px;
  }
}

.hero-slider__container {
  position: relative;

  max-width: 300px;
  height: 500px;
  margin: 0 auto;

  border-radius: 20px;

  overflow: hidden;

  @media #{$tablet-only} {
    max-width: 748px;
    height: 978px;

    border-radius: 25px;
  }

  @media #{$desktop-only} {
    max-width: 1180px;
    height: 594px;

    border-radius: 25px;
  }

  @media #{$large-desktop-only} {
    max-width: 1900px;
    height: 956px;

    border-radius: 40px;
  }
}

// .hero-slider__wrap {

// }

// .hero-slider__slide {

// }

.hero-slider__pagination {
  position: absolute;
  left: 10px;
  bottom: 75px;
  z-index: 20;

  @media #{$tablet-only} {
    left: 20px;
    bottom: 86px;
  }

  @media #{$desktop-only} {
    left: auto;
    right: 20px;
    bottom: 20px;
  }
}
