.houses {
  max-width: 300px;

  @media #{$tablet-only} {
    max-width: 748px;
  }
}

.houses__slider {
  position: relative;
  width: 310px;

  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0 -55px 45px auto;
    z-index: 10;

    width: 110px;

    background-image: linear-gradient(to right, $color-transparent, $color-white);

    pointer-events: none;
  }

  @media #{$tablet-only} {
    width: 768px;
    margin: 0 -10px;

    &::before {
      inset: 0 -110px 80px auto;

      width: 320px;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0 auto 80px -110px;
      z-index: 10;

      width: 320px;

      background-image: linear-gradient(to left, $color-transparent, $color-white);

      pointer-events: none;
    }
  }
}

.houses__wrap {
  @include normalize-list;

  display: flex;
  gap: 10px;
  width: 310px;
  margin: 0;

  overflow: visible;

  @media #{$tablet-only} {
    gap: 20px;
    width: 768px;
  }
}

// .houses__card {

// }

.houses__button-prev {
  display: none;
}

.houses__button-next {
  display: none;
}

.houses__scroll-bar {
  width: 300px;
  height: 12px;
  margin-top: 10px;

  border: 1px solid $color-gray;
  border-radius: 12px;

  @media #{$tablet-only} {
    width: 748px;
    height: 20px;
    margin: 20px auto 0;
  }
}

.houses__notification {
  display: inline-block;
  width: 300px;
  margin-top: 10px;

  font-weight: 500;
  font-size: 10px;
  text-align: center;

  opacity: 0.5;

  @media #{$tablet-only} {
    width: 748px;
    height: 20px;
    margin: 20px auto 0;

    font-size: 14px;
  }
}
