.houses {
  max-width: 300px;

  @media #{$tablet-only} {
    max-width: 748px;
  }

  @media #{$desktop-only} {
    max-width: 1180px;
  }

  @media #{$large-desktop-only} {
    max-width: 1900px;
  }
}

.houses__slider {
  position: relative;
  width: 310px;

  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0 -55px 45px auto;
    z-index: 10;

    width: 110px;

    background-image: linear-gradient(to right, $color-transparent, $color-white);

    pointer-events: none;
  }

  @media #{$tablet-only} {
    width: 768px;
    margin: 0 -10px;

    &::before {
      inset: 0 -110px 80px auto;

      width: 320px;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0 auto 80px -110px;
      z-index: 10;

      width: 320px;

      background-image: linear-gradient(to left, $color-transparent, $color-white);

      pointer-events: none;
    }
  }

  @media #{$desktop-only} {
    width: 1190px;
    margin: 0 -10px;

    &::before {
      inset: 0 -180px 0 auto;

      width: 420px;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0 auto 0 -180px;
      z-index: 10;

      width: 420px;

      background-image: linear-gradient(to left, $color-transparent, $color-white);

      pointer-events: none;
    }
  }
}

.houses__wrap {
  @include normalize-list;

  display: flex;
  gap: 10px;
  width: 310px;
  margin: 0;

  overflow: visible;

  @media #{$tablet-only} {
    gap: 20px;
    width: 768px;
  }

  @media #{$desktop-only} {
    gap: 20px;
    width: 1200px;
  }

  @media #{$large-desktop-only} {
    gap: 20px;
    width: 1200px;
  }
}

// .houses__card {

// }

.houses__button-prev {
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 100;

  display: none;

  transform: translateY(-50%);

  @media #{$desktop-only} {
    display: flex;
  }
}

.houses__button-next {
  position: absolute;
  top: calc(50% - 23px);
  right: 20px;
  z-index: 100;

  display: none;

  transform: translateY(-50%);

  @media #{$desktop-only} {
    display: flex;
  }
}

.houses__scroll-bar {
  width: 300px;
  height: 12px;
  margin-top: 10px;

  border: 1px solid $color-gray;
  border-radius: 12px;

  @media #{$tablet-only} {
    width: 748px;
    height: 20px;
    margin: 20px auto 0;
  }

  @media #{$desktop-only} {
    display: none;
  }
}

.houses__notification {
  display: inline-block;
  width: 300px;
  margin-top: 10px;

  font-weight: 500;
  font-size: 10px;
  text-align: center;

  opacity: 0.5;

  @media #{$tablet-only} {
    width: 748px;
    height: 20px;
    margin: 20px auto 0;

    font-size: 14px;
  }

  @media #{$desktop-only} {
    display: none;
  }
}
