.interier-slider {
  position: relative;

  width: 300px;
  height: 200px;

  border-radius: 20px;

  overflow: hidden;

  @media #{$tablet-only} {
    width: 100%;
    height: 340px;

    border-radius: 25px;
  }
}

.interier-slider__wrap {
  @include normalize-list;

  display: flex;
  width: 100%;
  margin: 0;
}

.interier-slider__item {
  min-width: 300px;
  width: 300px;
  height: 200px;

  @media #{$tablet-only} {
    min-width: 364px;
    width: 364px;
    height: 340px;
  }
}

.interier-slider__image-container {
  width: 100%;
  height: 100%;
}

.interier-slider__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.interier-slider__button-prev {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.interier-slider__button-next {
  position: absolute;
  left: 56px;
  bottom: 10px;

  @media #{$tablet-only} {
    left: 66px;
  }
}

.interier-slider__text-container {
  position: absolute;
  left: 102px;
  bottom: 10px;

  display: flex;
  align-items: center;
  width: 188px;
  height: 36px;
  padding: 10px;

  background-color: $color-white;
  border-radius: 12px;

  overflow: hidden;

  @media #{$tablet-only} {
    left: 122px;

    height: 46px;
    width: 232px;

    border-radius: 16px;
  }
}

// .interier-slider__text {

// }
