.interier-slider {
  position: relative;

  width: 300px;
  height: 200px;

  border-radius: 20px;

  overflow: hidden;

  @media #{$tablet-only} {
    width: 100%;
    height: 340px;

    border-radius: 25px;
  }

  @media #{$desktop-only} {
    width: 100%;
    height: 380px;

    border-radius: 25px;
  }

  @media #{$large-desktop-only} {
    height: 600px;

    border-radius: 40px;
  }
}

.interier-slider__wrap {
  @include normalize-list;

  display: flex;
  width: 100%;
  margin: 0;
}

.interier-slider__item {
  min-width: 100%;
  width: 300px;
  height: 200px;

  @media #{$tablet-only} {
    width: 364px;
    height: 340px;
  }

  @media #{$desktop-only} {
    width: 580px;
    height: 380px;
  }

  @media #{$large-desktop-only} {
    width: 940px;
    height: 600px;
  }
}

.interier-slider__image-container {
  width: 100%;
  height: 100%;
}

.interier-slider__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.interier-slider__button-prev {
  position: absolute;
  left: 10px;
  bottom: 10px;

  @media #{$large-desktop-only} {
    left: 20px;
    bottom: 20px;
  }
}

.interier-slider__button-next {
  position: absolute;
  left: 56px;
  bottom: 10px;

  @media #{$tablet-only} {
    left: 66px;
  }

  @media #{$desktop-only} {
    left: 66px;
  }

  @media #{$large-desktop-only} {
    left: 114px;
    bottom: 20px;
  }
}

.interier-slider__text-container {
  position: absolute;
  left: 102px;
  bottom: 10px;

  display: flex;
  align-items: center;
  width: 188px;
  height: 36px;
  padding: 10px;

  background-color: $color-white;
  border-radius: 12px;

  overflow: hidden;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 20;

    display: block;
    width: 10px;

    background-color: $color-white;
  }

  &::after {
    left: 0;
  }

  &::before {
    right: 0;
  }

  @media #{$tablet-only} {
    left: 122px;

    height: 46px;
    width: 232px;

    border-radius: 16px;
  }

  @media #{$desktop-only} {
    left: 122px;

    height: 46px;
    width: 448px;

    border-radius: 16px;
  }

  @media #{$large-desktop-only} {
    bottom: 20px;
    left: 208px;

    height: 74px;
    width: 712px;
    padding: 10px 20px;

    border-radius: 25px;

    &::after,
    &::before {
      width: 20px;
    }
  }
}

.interier-slider__text {
  display: inline-block;
  padding-right: 2em;

  white-space: nowrap;

  &.interier-slider__text--move-text {
    animation: move-text 6s 1 normal linear backwards;
  }

  @media #{$desktop-only} {
    font-size: 16px;
  }

  @media #{$large-desktop-only} {
    font-size: 25px;
  }
}
