// .legal-info {

// }

.legal-info__list {
  @include normalize-list;

  margin: 0;
}

.legal-info__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.legal-info__link {
  color: inherit;

  opacity: 0.8;

  transition: opacity $tr-default, color $tr-default;

  @media #{$hover} {
    &:hover {
      opacity: 1;
    }
  }

  &:active {
    color: $color-brown;

    opacity: 1;
  }
}
