// .legal-info {

// }

.legal-info__list {
  @include normalize-list;

  margin: 0;

  @media #{$tablet-only} {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  @media #{$desktop-only} {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
}

.legal-info__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  @media #{$tablet-only} {
    &:not(:last-child) {
      margin-bottom: 0;
    }

    font-size: 12px;
  }

  @media #{$desktop-only} {
    &:not(:last-child) {
      margin-bottom: 0;
    }

    font-size: 12px;
  }

  @media #{$large-desktop-only} {
    font-size: 18px;
  }
}

.legal-info__link {
  color: inherit;

  opacity: 0.8;

  transition: opacity $tr-default, color $tr-default;

  @media #{$hover} {
    &:hover {
      opacity: 1;
    }
  }

  &:active {
    color: $color-brown;

    opacity: 1;

    transition: opacity $tr-fast, color $tr-fast;
  }
}
