.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  transition: opacity $tr-default, left $tr-default 0.3s, top $tr-default;

  &.logo--header {
    @media #{$tablet-only} {
      width: 232px;
      height: 40px;

      /* stylelint-disable max-nesting-depth */
      .logo__wrap--image {
        width: auto;
        height: 100%;
      }

      .logo__wrap--text {
        width: auto;
        height: 28px;
      }
      /* stylelint-enable max-nesting-depth */
    }

    @media #{$desktop-only} {
      width: 232px;
      height: 40px;

      transition: opacity $tr-default;

      /* stylelint-disable max-nesting-depth */
      .logo__wrap--image {
        width: auto;
        height: 100%;
      }

      .logo__wrap--text {
        width: auto;
        height: 28px;
      }
      /* stylelint-enable max-nesting-depth */
    }

    @media #{$large-desktop-only} {
      width: 373px;
      height: 65px;

      /* stylelint-disable max-nesting-depth */
      .logo__wrap--image {
        width: auto;
        height: 100%;
      }

      .logo__wrap--text {
        width: auto;
        height: 28px;
      }
      /* stylelint-enable max-nesting-depth */
    }
  }

  &.logo--footer {
    gap: 5px;

    .logo__wrap--image {
      width: 74px;
      height: 36px;
    }

    .logo__wrap--text {
      width: 119px;
      height: 25px;
    }

    @media #{$tablet-only} {
      .logo__wrap--image {
        width: 100%;
        height: 150px;
      }
    }

    @media #{$desktop-only} {
      .logo__wrap--image {
        width: 100%;
        height: auto;
      }
    }
  }

  @media #{$hover} {
    &:hover {
      opacity: 0.5;
    }
  }

  &:active {
    opacity: 0.8;
  }
}

.logo__wrap {
  display: flex;
  align-items: center;

  &.logo__wrap--image {
    width: 62px;
    height: 31px;
  }

  &.logo__wrap--text {
    width: 99px;
    height: 21px;
  }

  &.logo__wrap--mobile {
    display: none;

    @media #{$mobile-only} {
      display: flex;
    }
  }

  &.logo__wrap--tablet-desktop {
    display: none;

    @media #{$not-mobile} {
      display: flex;
    }
  }
}

.logo__image {
  width: 100%;
  height: 100%;
}

.logo__text {
  width: 100%;
  height: 100%;
}

// .logo__hidden-link-text {

// }
