.main {
  flex-grow: 1;
}

.main__section {
  margin: 0 auto 10px;

  @media #{$tablet-only} {
    margin-bottom: 20px;
  }

  @media #{$desktop-only} {
    margin-bottom: 50px;
  }

  @media #{$large-desktop-only} {
    margin-bottom: 100px;
  }
}

.main__section-title {
  margin: 0 0 20px;

  font-family: $secondary-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: $color-black;

  @media #{$tablet-only} {
    font-size: 50px;
  }

  @media #{$desktop-only} {
    font-size: 50px;
  }

  @media #{$large-desktop-only} {
    font-size: 80px;
  }

  &.main__section-title--with-icon {
    max-width: 200px;

    @media #{$tablet-only} {
      max-width: 640px;
    }

    @media #{$desktop-only} {
      max-width: 1050px;
    }

    @media #{$large-desktop-only} {
      max-width: 1750px;
    }
  }

  &.main__section-title--feedback {
    padding-left: 10px;

    @media #{$large-desktop-only} {
      margin-bottom: 50px;
    }
  }

  &.main__section-title--description {
    margin-bottom: 10px;

    @media #{$tablet-only} {
      grid-area: title;
      margin-bottom: 0;
    }

    @media #{$desktop-only} {
      grid-area: title;
      align-self: start;
      margin-bottom: 10px;
    }

    @media #{$large-desktop-only} {
      margin-bottom: 30px;
    }
  }

  &.main__section-title--booking {
    margin-top: auto;

    color: $color-white;
  }
}
