.main {
  flex-grow: 1;
}

.main__section {
  margin: 0 auto 10px;

  @media #{$tablet-only} {
    margin-bottom: 20px;
  }
}

.main__section-title {
  margin: 0 0 20px;

  font-family: $secondary-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: $color-black;

  @media #{$tablet-only} {
    font-size: 50px;
  }

  &.main__section-title--with-icon {
    max-width: 200px;

    @media #{$tablet-only} {
      max-width: 640px;
    }
  }

  &.main__section-title--feedback {
    padding-left: 10px;
  }
}
