.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 280px;
  width: 280px;
  height: 38px;

  overflow: hidden;

  @media #{$tablet-only} {
    max-width: 550px;
    width: 550px;
    height: 46px;
  }

  @media #{$desktop-only} {
    justify-content: flex-end;
    max-width: 550px;
    width: 550px;
    height: 46px;
  }

  @media #{$large-desktop-only} {
    max-width: 920px;
    width: 920px;
    height: 74px;
  }
}

.pagination__wrap {
  @include normalize-list;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 280px;
  width: 280px;
  height: 100%;
  margin: 0;

  @media #{$tablet-only} {
    max-width: 550px;
    width: 550px;
  }

  @media #{$desktop-only} {
    justify-content: flex-end;
    max-width: 550px;
    width: 550px;
  }

  @media #{$large-desktop-only} {
    max-width: 920px;
    width: 920px;
  }
}

.pagination__slide {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;

  border-radius: 12px;

  overflow: hidden;

  cursor: pointer;

  @media #{$tablet-only} {
    width: 46px;
    height: 46px;

    border-radius: 15px;
  }

  @media #{$desktop-only} {
    width: 46px;
    height: 46px;

    border-radius: 15px;
  }

  @media #{$large-desktop-only} {
    width: 74px;
    height: 74px;

    border-radius: 25px;
  }

  &.pagination__slide--active {
    .pagination__timer {
      stroke-width: 2px;
    }
  }
}

.pagination__thumb {
  width: 35px;
  height: 35px;

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: 12px;

  @media #{$tablet-only} {
    width: 41px;
    height: 41px;

    border-radius: 15px;
  }

  @media #{$desktop-only} {
    width: 41px;
    height: 41px;

    border-radius: 15px;
  }

  @media #{$large-desktop-only} {
    width: 68px;
    height: 68px;

    border-radius: 25px;
  }
}

.pagination__timer {
  --progress: 0;
  position: absolute;
  inset: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  stroke-width: 0;
  stroke: $color-white;
  fill: none;
  stroke-dashoffset: calc(123.36px * (1 - var(--progress))); // вариант для мака. для винды должно совпадать со свойством ниже.
  stroke-dasharray: 123.36px;

  clip-path: view-box;
}
