.slides {
  @include normalize-list;

  display: flex;
  height: 100%;
  margin: 0;
}

.slides__item {
  position: relative;

  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 300px;
  padding: 10px;

  @media #{$tablet-only} {
    min-width: 748px;
    width: 748px;
    padding: 20px;
  }

  @media #{$desktop-only} {
    min-width: 1180px;
    width: 1180px;
    padding: 20px;
  }

  @media #{$large-desktop-only} {
    min-width: 1900px;
    width: 1900px;
    padding: 20px;
  }

  // &.slides__item--image {

  // }

  // &.slides__item--video {

  // }

  &.slides__item--card {
    .slides__background::before {
      background: rgba($color-black, 0.48);
      backdrop-filter: blur(4px);
    }
  }
}

.slides__title {
  margin: auto auto 10px;

  font-family: $secondary-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: $color-white;

  @media #{$tablet-only} {
    font-size: 50px;
  }

  @media #{$desktop-only} {
    font-size: 50px;
  }

  @media #{$desktop-only} {
    max-width: 50%;
    margin: auto auto 10px 0;

    font-size: 50px;
  }

  @media #{$large-desktop-only} {
    font-size: 80px;
  }
}

.slides__description {
  margin: 0 0 10px;

  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  color: $color-white;

  opacity: 0.8;

  @media #{$tablet-only} {
    margin: 0 0 20px;

    font-size: 14px;
  }

  @media #{$desktop-only} {
    max-width: 50%;
    margin: 0 0 20px;

    font-size: 16px;
  }
}

.slides__button {
  margin-top: 68px;

  @media #{$tablet-only} {
    margin-top: 86px;
  }

  @media #{$desktop-only} {
    margin-top: 10px;
  }
}

.slides__background {
  position: absolute;
  inset: 0;
  z-index: -2;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;

    display: block;

    background: linear-gradient(to bottom, $color-transparent 50%, rgba($color-black, 0.67) 100%);
  }
}

.slides__background-image {
  height: 100%;
  object-fit: cover;
}

.slides__background-video {
  height: 100%;
  object-fit: cover;
}

// .slides__card {

// }
