.social {
  @include normalize-list;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 50%;
}

.social__item {
  width: 36px;
  height: 36px;
}

// .social__link {

// }

// .social__icon-wrap {

// }
