.social {
  @include normalize-list;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 50%;
}

.social__item {
  width: 36px;
  height: 36px;
}

.social__link {
  display: flex;

  transition: transform $tr-default, opacity $tr-default;

  @media #{$hover} {
    &:hover {
      transform: translateY(-8px);
    }
  }

  &:active {
    opacity: 0.5;

    transform: translateY(-8px);
  }
}

.social__icon-wrap {
  display: flex;
}
